/* LanguageSelector.css */

.btnLangCont {
    position: fixed;
    display: inline-block;
  }
  
  .dropdown-toggle::after {
    display: none; /* Hide default caret */
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #ffffff; /* Text color */
  }
  
  .dropdown-menu {
    min-width: auto; /* Adjust width as needed */
  }
  
  .dropdown-item {
    color: #333; /* Text color */
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #f8f9fa; /* Hover color */
    color: #333; /* Text color */
  }
  
  